{% extends 'base.html' %}

{% block header %}
    {{ header }}
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for p in products %}
            <li class="list-group-item">
                <p><b>{{ p.product }} - {{ p.amount }} szt.</b></p>
            </li>
        {% endfor %}
        <li class="list-group-item">
            <p><b><i>Łącznie za produkty: {{ cart.get_total_cost }} zł</i></b></p>
        </li>
        <form method="post">
        {% csrf_token %}
        <li class="list-group-item">
            <label for="id_shipment"><b>Sposób dostawy:</b></label>
            <select name="shipment" required id="id_shipment">
                {% for shipment in shipments %}
            <option value="{{ shipment.id }}">{{ shipment }}</option>
                {% endfor %}
            </select>
        </li>
        <li class="list-group-item">
            <button type="submit" class="btn btn-success">Dalej</button>
        </li>
        </form>
        <li class="list-group-item">
        <p><i>W przypadku brak adresu dostawy w ustawieniach profilu zostanie Pan / Pani przekierowana na stronę dodawania adresu.</i></p>
        </li>
    </ul>
{% endblock %}