{% extends 'base.html' %}

{% block header %}
    {{ header }}
{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item d-flex">
            <p><b>Odbiorca</b>: Animal Heaven sp. z o.o.</p>
        </li>
        <li class="list-group-item d-flex">
            <p><b>Konto bankowe</b>: <i>1234 5678 9012 3456 7890 1234 56</i> <b>Bank PKO</b></p>
        </li>
        <li class="list-group-item d-flex">
            <p><b>Adres</b>: ul. Warszawska 1A, Warszawa 03-123</p>
        </li>
        <li class="list-group-item d-flex">
        </li>
        <li class="list-group-item d-flex">
            <p><i>W tytule przelewu prosimy o umieszczenie numeru zamówienia</i></p>
        </li>
    </ul>
{% endblock %}