<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Animal Heaven</title>
      {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top mycolor flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">Animal Heaven</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <form class="w-100" action="{% url 'product_list' %}">
  <input name="searched" class="form-control form-control-light w-100" type="text" placeholder="Szukaj produktu" aria-label="Search">
    </form>
      {% if user.is_authenticated %}
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <b class="nav-link">Witaj {{ user }}</b>
            </li>
          </ul>
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="/accounts/logout/"><b>Wyloguj się</b></a>
            </li>
          </ul>
      {% else %}
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="/accounts/login/"><b>Zaloguj się</b></a>
            </li>
          </ul>
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="/accounts/signup/"><b>Zarejestruj się</b></a>
            </li>
          </ul>
        {% endif %}
</nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                    <span data-feather="home"></span>
                    Strona główna
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories/">
                    <span data-feather="book"></span>
                    Kategorie
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/">
                    <span data-feather="book-open"></span>
                    Produkty
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/brands/">
                    <span data-feather="flag"></span>
                    Nasze marki
                </a>
              </li>
            {% if perms.accounts.change_address and perms.shop_app.change_shoppingcart %}
              <li class="nav-item">
                      <p class="nav-link"></p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cart/">
                      <span data-feather="shopping-cart"></span>
                      Mój koszyk
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders/">
                    <span data-feather="layers"></span>
                    Moje zamówienia
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/profile/">
                    <span data-feather="eye"></span>
                    Mój profil
                </a>
              </li>
            {% endif %}
                {% if perms.shop_app.add_shipment and perms.shop_app.add_order %}
                  <li class="nav-item">
                    <p class="nav-link"></p>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/shipments/">
                        <span data-feather="mail"></span>
                        Sposoby dostawy
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/all_orders/">
                        <span data-feather="layers"></span>
                        Wszystkie zamówienia
                    </a>
                  </li>
                {% endif %}

                {% if user.is_superuser %}
                  <li class="nav-item">
                    <p class="nav-link"></p>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/accounts/createadmin/">
                        <span data-feather="command"></span>
                        Stwórz administratora sklepu
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/">
                        <span data-feather="command"></span>
                        Przejdź do panelu SuperUsera
                    </a>
                  </li>
                {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                      <p class="nav-link"></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bank_info/">
                        <span data-feather="dollar-sign"></span>
                        Dane do przelewu
                    </a>
                </li>
            {% endif %}


            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h3">{% block header %}O nas{% endblock %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          <div>
            {% block content %}
                <p>Zwierzęta wzbogajacą nasze życie każdego dnia. Nie powinniśmy pozostawać dłużni :)</p>
                <p>Teraz bez wychodzenia z domu możesz załatwić wszystko dla swojego pupila :)</p>
                <p>Karmy i akcesoria dla zwierząt teraz w atrakcyjnych cenach w sklepie internetowym Animal Heaven.</p>
                <img src="{% static 'images/diego.jpg' %}" class="rounded mx-auto d-block">

            {% endblock %}
          </div>
        </main>
      </div>
    </div>
</body>

<footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">
        <span data-feather="calendar"></span>
        <i class="fas fa-clock">{{ date }}</i>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>
</html>
