{% extends 'base.html' %}

{% block header %}
    {{ header }}
    {% if perms.shop_app.add_product %}
        <a href="/product/add/"><button type="button" class="btn btn-success btn-sm">Dodaj</button></a>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item d-flex">
                <a href="/product/{{ product.id }}/" class="mr-auto p-2">{{ product.name }} (firmy {{ product.brand.name }}) -
                {{ product.price }} zł
                    {% if product.quantity == 0 %}
                        <i>(brak produktów w magazynie)</i></a>
                    {% else %}
                        <i>(dostępne {{ product.quantity }} szt.)</i></a>
                    {% endif %}
                {% if perms.shop_app.change_product and perms.shop_app.delete_product %}
                    <a href="/product/edit/{{ product.id }}/"><button type="button" class="btn btn-info btn-sm p-2">Edytuj</button></a>
                    <a href="/product/delete/{{ product.id }}/"><button type="button" class="btn btn-danger btn-sm p-2">Usuń</button></a>
                {% endif %}
            </li>
            {% empty %}
            <li class="list-group-item d-flex">
                <p><i>Brak wyników spełniających kryteria wyszukiwania.</i></p>
            </li>
        {% endfor %}
    </ul>
    <br>

{% endblock %}