{% extends 'base.html' %}

{% block header %}
    {{ header }}
{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item">
            <p><b>Kategoria</b>: {{ product.category.name }}</p>
            <p><b>Marka</b>: {{ product.brand.name }}</p>
            <p><b>Opis</b>: <i>{{ product.description }}</i></p>
            <p><b>Cena</b>: {{ product.price }} zł</p>
            <p>
                {% if product.quantity == 0 %}
                    <i>(brak produktów w magazynie)</i></a>
                {% else %}
                    <i>(dostępne {{ product.quantity }} szt.)</i></a>
                {% endif %}
            </p>
        </li>
        <li class="list-group-item">
        {% if user.is_authenticated and product.quantity > 0 %}
              <form method="post">
                {% csrf_token %}
                Liczba sztuk: <input type="number" name="amount" max="{{ product.quantity }}">
                <button type="submit" class="btn btn-success btn-sm">Dodaj do koszyka</button>
             </form>
        {% endif %}
        </li>
    </ul>
{% endblock %}