{% extends 'base.html' %}

{% block header %}
    {{ header }}
{% endblock %}

{% block content %}
    {% if cart.is_cart_empty %}
        <li class="list-group-item">
        <p><i>pusty</i></p>
        </li>
    {% else %}
    <ul class="list-group">
        {% for p in products %}
            <li class="list-group-item">
                <p><a href="/product/{{ p.product.id }}/"><b>{{ p.product }}</b></a> ({{ p.product.price }} zł/szt.)</p>
                <p>Ilość: {{ p.amount }} szt.</p>
                <p><i>Łącznie: {{ p.get_cost_of_products }} zł</i></p>
            <a href="/cart/delete/{{ p.product.id }}/"><button type="button" class="btn btn-danger btn-sm p-2">Usuń z koszyka</button></a>
            </li>
        {% endfor %}
        <li class="list-group-item">
            <p><b><i>ŁĄCZNIE DO ZAPŁATY: {{ cart.get_total_cost }} zł + koszt dostawy</i></b></p>
        </li>
        <li class="list-group-item">
            <a href="/cart/shipment/"><button type="button" class="btn btn-primary btn-sm p-2">Przejdź dalej</button></a><br><br>
        </li>
    {% endif %}
    </ul>
{% endblock %}