{% extends 'base.html' %}

{% block header %}
    {{ header }}
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for p in products %}
            <li class="list-group-item">
                <p><b>{{ p.product }} - {{ p.amount }} szt.</b></p>
            </li>
        {% endfor %}
        <li class="list-group-item">
                <p><b>Sposób dostawy: </b>{{ shipment.name }}</p>
        </li>
        <li class="list-group-item">
                <p><b>Adres dostawy: </b>ul. {{ address.street }} {{ address.building_number }}
                    {% if address.flat_number is not None %}
                        {{ address.flat_number }}
                    {% endif %} {{ address.city }} {{ address.postal_code }}</p>
        </li>
        <li class="list-group-item">
                <p class="lead"><b>Łącznie do zapłaty: </b>{{ total_cost }} zł</p>
        </li>
        <li class="list-group-item">
            <a href="/cart/"><button type="submit" class="btn btn-secondary btn-sm">Powrót do koszyka</button></a>
            <a href="/cart/shipment/"><button type="submit" class="btn btn-secondary btn-sm">Powrót do wyboru sposobu dostawy</button></a>
        </li>
        <li class="list-group-item">
            <button type="submit" class="btn btn-success">Potwierdzam i zamawiam</button>
        </li>
    </ul>
{% endblock %}